<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<h1>Flask test</h1>
<hr/>
<p>La valeur numérique est {{ random_value }}</p>
<hr/>
<p>{{ table[2] }}</p>
<p>{{ table[4] }}</p>
<hr/>
<p>Voici un pseudo aléatoire <b> {{ fn(10) }} </b></p>
<hr/>
<p>{{ html_text | safe }}</p>
<hr/>
<ul>
    {% for value in tableNumber %}
        <li>{{ value }}</li>
    {% endfor %}
</ul>
<hr/>


<table>
    {% for line in visual_table %}
    <tr>
        {% for value in line %}
        <td style="border: 1px solid black; padding: 5px">
            {% if value == 0 %}
                <b>{{ value }}</b>
            {% else %}
                {{ value }}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<a href="{{ url_for('.r_test') }}">C'est un lien</a>
<hr/>

</body>

</html>